@import "variables";
:local {
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		.formRow {
			& > * {
				align-self: flex-start;
				margin-bottom: 1.2em;
			}
			label {
				padding-right: 2em;
			}
			input[type=text], input[type=password] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				display: inline-block;
				border: 1px solid #ccc;
				box-sizing: border-box;
			}
		}
		.button {
			width: 35%;
			max-width: 170px;
		}
	}
}

