:local{
    .wrapper {
        display: inline-flex;
        margin: 10px;
        padding: 5px;
        width: 500px;
        box-shadow: 0 3px 0 #e8e8e8;
    }
    .formWrapper {
        margin: 10px;
        padding: 5px;
        width: 500px;
        box-shadow: 0 3px 0 #e8e8e8;
    }
    .itemText {
        font-size: xx-large;
        margin: 0;
        flex-grow: 1;
    }
    .editButton {
        margin-right: 10px;
    }

}